<h1><%= @game.title %></h1>

<div class="row">
    <%= for team <- @teams do %>
    <div class="column">
        <ul>
            <%= for player <- team.players do %>
                <li>player.name</li>
            <% end %>
        </ul>
    </div>
    <% end %>
</div>
